:root {
    
       /* TYPOGRAPHY */

       --font-size: 16px;
       --line-height: 1.75rem;
   
       /* SPACING */

       --max-width: 60rem;
       --margin-vertical: 1rem;
       --margin-horizontal: 1rem;
       --padding-horizontal: 1rem;
       --padding-vertical: 1rem;
       --border-radius: 4px;
   
 /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
 /* !!!!! DARK MODE !!!!!!!!!!!!!!! */
 /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
       
       /* FONT COLORS */
   
       --color: #F0F0F0;
       --color-heading: #FFFFFF;
   
       /* BACKGROUND COLORS */
   
       --background-color: #2A2A2A;
       --background-color-II: #1A1A1A;
       --background-color-III: #1C1C1C;
   
       /* INTERACTIVE */
       
       --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
       --border: 1px solid  #111;
   
       /* BUTTONS */

       --button-color: #FFFFFF;
       --button-color-hover: #FFFFFF;
       --button-color-focus: #FFFFFF;
       --button-color-disabled: #B0BEC5;
   
       --button-bg: #1565C0;
       --button-bg-hover: #1976D2;
       --button-bg-focus: #1976D2;
       --button-bg-disabled: #757575;
   
       /* LINKS */

       --link-color: #1E88E5;
       --link-color-hover: #1565C0;
       --link-color-focus: #1565C0;
       --link-color-visited: #1565C0;
       
       --link-bg-focus: #000000;
       
       /* INPUT */

       --input-color: #E0E0E0;
       --input-color-focus: #FFFFFF;
       --input-color-invalid: #ff9999;
       --input-color-error-message: transparent;
       --input-color-error-message-focus: #ff9999;
   
       --input-bg: #1C1C1C;
       --input-bg-focus: #333333;
   
       /* OUTLINES */

       --outline-button-focus: 2px solid #FFFFFF;
       --outline-link-focus: 2px solid #FFFFFF;
       --outline-input-focus: 2px solid transparent;
       --outline-input-invalid: 2px solid #ff6666;   
}

.light-mode {
    
        /* FONT COLORS */
    
        --color: #333333;
        --color-heading: #000000;
    
        /* BACKGROUND COLORS */
    
        --background-color: #ffffff;
        --background-color-II: #EEEEEE;
        --background-color-III: #e0e7ff;
        
        /* INTERACTIVE */
    
        --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        --border: none;
    
        /* BUTTONS */
    
        --button-color: #FFFFFF;
        --button-color-hover: #FFFFFF;
        --button-color-focus: #FFFFFF;
        --button-color-disabled: #6B7B8A;
    
        --button-bg: #1976D2;
        --button-bg-hover: #1565C0;
        --button-bg-focus: #1565C0;
        --button-bg-disabled: #90A4AE;
    
        /* LINKS */
    
        --link-color: #1a73e8;
        --link-color-hover: #0c47a1;
        --link-color-focus: #0c47a1;
        --link-color-visited: #012180;
    
        --link-bg-focus: #FFFFFF;
    
        /* INPUT */
    
        --input-color: #111111;
        --input-color-focus: #000000;
        --input-color-invalid: #D32F2F; 
        --input-color-error-message: transparent; 
        --input-color-error-message-focus: #C62828; 
    
        --input-bg: #E0E0E0;
        --input-bg-focus: #FFFFFF;
    
        /* OUTLINES */
    
        --outline-button-focus: 3px solid #000;
        --outline-link-focus: 2px solid #1565C0;
        --outline-input-focus: 1px solid none;
        --outline-input-invalid: 2px solid #D32F2F;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: var(--font-size);
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: var(--font-size);
    background-color: var(--background-color);
    color: var(--color);
    line-height: var(--line-height);
}

main {
    margin: 0 auto;
    padding: var(--padding-vertical) var(--padding-horizontal);
    text-align: left;
    max-width: var(--max-width);
}

section { scroll-margin: calc( var(--margin-vertical) * 6 ) 0 0 0; }

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Montserrat', Helvetica, Arial, sans-serif; 
    color: var(--header-color); 
}

h1, h2, h3, h4, h5, h6, p { margin: calc( var(--margin-vertical) * 3 ) 0; }

h1 { font-size: 3rem; line-height: 3.9rem;} 

h2 { font-size: 2.50rem; } 

h3 { font-size: 1.75rem; }

h4 { font-size: 1.3rem; } 

h5 { font-size: 1.25rem; } 

h6 { font-size: 1rem; }

ul { list-style: none; } 

a { text-decoration: none; }

button, a { 
    -webkit-tap-highlight-color: transparent; 
    cursor: pointer; 
    white-space: nowrap; 
} 

/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!! HEADER !!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* NAVIGATION */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background-color-III);
    box-shadow: var(--box-shadow);
    font-size: 1.125rem;
    z-index: 1000;
    padding: calc( var(--padding-vertical) * 1.5 ) 0; 
}

.header .nav {
    margin: 0 auto;
    max-width: var(--max-width);
    background-color: inherit;
}

.header .ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    color: var(--heading-color);
    padding: 0;
}

.header .u-a {
    color: var(--color-heading);
    padding: var(--padding-vertical) var(--padding-horizontal);
    border-radius: var(--border-radius);
}
.header .u-a:hover {
    color: var(--link-color-hover);
}
.header .u-a:focus-visible {
    background-color: var(--link-bg-focus);
    color: var(--link-color-focus);
    outline: var(--outline-link-focus);
}

.header .contact i {
    margin: 0 calc( var(--margin-horizontal) / 2 );
}

/* MENU TOGGLE */

.header .menu-toggle {
    display: none;
    font-size: 1.5rem;
}

/* MODE TOGGLE */

.header .mode-toggle {
    background-color: transparent;
    color: inherit;
    border: none;
    font-size: 1.5rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
    border-radius: var(--border-radius);
}
.header .mode-toggle:hover {
    color: var(--link-color-hover);
}
.header .mode-toggle:focus-visible {
    background-color: var(--link-bg-focus);
    color: var(--link-color-focus);
    outline: var(--outline-link-focus);
}

/* LANGUAGE TOGGLE */

.header .language-toggle {
    padding: var(--padding-vertical) var(--padding-horizontal);
    font-size: 1.25rem;
    background-color: transparent;
    color: inherit;
    border-radius: var(--border-radius);
    border: none;
}
.header .language-toggle:hover {
    color: var(--link-color-hover);
}
.header .language-toggle:focus-visible {
    background-color: var(--link-bg-focus);
    color: var(--link-color-focus);
    outline: var(--outline-link-focus);
}

.header .language-toggle span, 
.header .language-toggle .fa-caret-down, 
.header .language-toggle .fa-caret-up  {
    font-size: 0.7rem;
}

/* LANGUAGE MENU */

.header .language-wrapper {
    position: relative;
    width: 4rem;
}

.header .language-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 120%; right: 0;
    background-color: var(--background-color-III);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
} .header .language-menu.expanded {
    display: flex;
}

.header .language-menu .list {
    width: 100%;
    text-align: center;
    padding: calc( var(--padding-vertical) / 2 ) 0;
}

.header .language-menu .list .language-option {
    width: 100%;
    font-size: 0.75rem;
    color: inherit;
}
.header .language-menu .list .language-option:hover,
.header .language-menu .list .language-option:focus-visible {
    color: var(--link-color-hover);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!! LANDING !!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!! */

.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; width: 100%;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.landing .sinister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; height: 100%;
}

.landing .button-wrapper {
    margin: var(--margin-vertical) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 3.8rem;
}

.landing .cta-link {
    background-color: var(--button-bg);
    color: var(--button-color);
    height: 100%;
    margin: calc( var(--margin-vertical) * 1.2 ) 0 calc( var(--margin-vertical) * 1.2 ) 8%; 
    padding: var(--padding-vertical) var(--padding-horizontal);
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    outline-offset: 0;
}
.landing .cta-link i {
    margin-left: calc( var(--margin-horizontal) / 3 );
}

.landing .cta-link:hover,
.landing .copy-button:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
    border: none;
}
.landing .cta-link:focus-visible,
.landing .copy-button:focus-visible {
    background-color: var(--button-bg-focus);
    color: var(--button-color-focus);
    outline: var(--outline-button-focus);
    border: none;
}

.landing .copy-button {
    height: 100%; width: 4rem;
    margin: 0 var(--margin-horizontal);
    font-size: 1.5rem;
    border-radius: var(--border-radius);
    background-color: var(--button-bg);
    color: var(--button-color);
    border: none;
}

.landing .dexter {
    width: 60%;
    height: 100%;
    background-image: url('images/hercules1920x1080.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-attachment: scroll; 
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%); 
}

.landing .heading {
    text-align: center;
    width: 100%;
    margin: calc( var(--margin-vertical) * 1.2 ) 0 calc( var(--margin-vertical) * 1.2 ) 8%;
}

.landing .text {
    margin: calc( var(--margin-vertical) * 1.2 ) 0 calc( var(--margin-vertical) * 1.2 ) 8%; 
    text-align: center;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!! ABOUT-ME !!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!! */

.about-me {
    padding: calc( var(--padding-vertical) * 4 ) 0 var(--padding-vertical) 0;
    scroll-margin: calc( var(--margin-vertical) * 3 );
}

.about-me .heading i {
    margin-left: var(--margin-horizontal);
}

/* STACK GRID */

.about-me .stack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    padding: var(--padding-vertical) 0;
  }
  
.about-me .category {
    grid-column: 1 / -1;
    font-weight: 600;
    margin: var(--margin-vertical) 0;
    padding-bottom: var(--padding-vertical);
    border-bottom: 1px solid #ddd;
  }

/* ITEM */

.about-me .item {
    box-shadow: var(--box-shadow);
    padding: var(--padding-vertical) var(--padding-horizontal);
    background-color: var(--background-color-II);
    line-height: 1.4;
}

.about-me .item i {
    font-size: 1.5rem;
}
  
.about-me .item, 
.about-me .item .u-a {
    display: flex;
    align-items: center;
    justify-content: c;
    gap: 0.5rem;
    color: inherit;
    border-radius: var(--border-radius);
  }

/* LINKS */

.about-me .item .u-a i {
    color: var(--link-color);
}

.about-me .item .u-a:hover {
    color: var(--link-color-hover);
}

.about-me .item .u-a:focus-visible {
    color: var(--link-color-focus);
    background-color: var(--link-bg-focus);
    outline: none;
}

.about-me .item .mongoose {
    color: var(--link-color) !important;
}

.about-me .item .mongoose:hover {
    color: var(--link-color-hover) !important;
}

.about-me .item .mongoose:focus-visible {
    color: var(--link-color-focus) !important;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!! PROJECTS !!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!! */

.projects {
    padding: var(--padding-vertical) 0;
}

/* CARD */

.projects .card {
    width: 100%; 
    margin: calc( var(--margin-vertical) * 2 ) 0 var(--margin-vertical) 0;
    padding: var(--padding-vertical) calc( var(--padding-horizontal) * 2 );
    border-radius: var(--border-radius);
    background-color: var(--background-color-II);
    border: var(--border);
}

.projects .thumbnail {
    width: 300px;
    height: 112px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: block;
}

.projects .intro-text {
    color: var(--color-II);
    padding: 0 calc( var(--padding-horizontal) * 2 );
    font-size: 1.15rem;
    max-height: 112px;
}

.projects .button-wrapper {
    text-align: right;
    padding: calc( var(--padding-vertical) * 1.5 ) 0;
}

/* PREVIEW */

.projects .preview {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* PREVIEW LINKS (title) */

.projects .title {
    margin: var(--margin-vertical) 0 0 0;
}

.projects .title i {
    color: var(--link-color);
}

.projects .title .u-a {
    color: inherit;
    border-radius: var(--border-radius);
}
.projects .title .u-a:hover {
    color: var(--link-color-hover);
}
.projects .title .u-a:focus-visible {
    color: var(--link-color-focus);
    background-color: var(--link-bg-focus);
    outline: var(--outline-link-focus);
    outline-offset: 0;
}

/* PREWVIEW BUTTONS */

.projects .button {
    margin: 0 calc( var(--margin-horizontal) / 2 );
    padding: calc( var(--padding-vertical) / 4 ) var(--padding-horizontal);
    font-size: 1.2rem;
    width: 4rem; height: 2rem;
    background-color: var(--button-bg);
    color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
}
.projects .button:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
}
.projects .button:focus-visible {
    background-color: var(--button-bg-focus);
    color: var(--button-color-focus);
    outline: var(--outline-button-focus);
}

/* CONTENT */

.projects .content-wrapper{
    display: none;
}
.projects .content-wrapper.expanded {
    display: block;
}

/* CONTENT LIST */

.projects .ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: calc( var(--margin-vertical) * 1.5 ) calc( var(--margin-horizontal) * 2) ;
    margin: calc( var(--margin-vertical) * 2 ) 0 calc( var(--margin-vertical) * 4 ) 0;
}

.projects .list {
    display: flex;
    align-items: center;
    gap: 0 calc( var(--margin-horizontal) / 2 );
}

.projects .list .u-a i {
    color: var(--link-color);
}

/* CONTENT - LINKS */

.projects .list .u-a {
    color: inherit;
    border-radius: var(--border-radius);
}

.projects .list .u-a.II {
    color: var(--link-color);
}

.projects .list .u-a:hover,
.projects .list .u-a.II:hover {
    color: var(--link-color-hover);
} 
.projects .list .u-a:focus-visible,
.projects .list .u-a.II:focus-visible {
    color: var(--link-color-focus);
    background-color: var(--link-bg-focus);
    outline: var(--outline-link-focus);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!! CONTACT !!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!! */

.contact {
    scroll-margin: calc( var(--margin-vertical) * 10 );
}

.contact .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 
    var(--padding-vertical) 
    var(--padding-horizontal)
    calc( var(--padding-vertical) * 1.5)
    0;
    border-bottom: 1px solid #ddd;
  }

  .contact .item i {
    font-size: 2.5rem;
    color: inherit;
  }

  .contact span {
    font-size: 1.5rem;
  }

  .contact .item.email {
    justify-content: flex-start;
    gap: 2rem;
  }

  /* BUTTONS / LINKS */

  .contact .item .button,
  .contact .item .u-a {
    padding: var(--padding-vertical) var(--padding-horizontal);
    background-color: var(--button-bg);
    color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
  }
  .contact .item .u-a.whatsapp {
    background-color: #25D366;
  }


/* footer */

.footer { 
    background-color: var(--footer-background-color);
    margin: calc( var(--margin-vertical) * 1.5 ) 0 0 0;
    padding: var(--padding-vertical) 0;
    color: inherit;
}

.footer__ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: var(--padding-vertical) var(--padding-horizontal);
    max-width: var(--max-width);
    margin: 0 auto;
}

.footer__list { 
   margin: var(--margin-vertical) var(--margin-horizontal);
}

.footer__ul .u-a {
    padding: var(--padding-vertical) 0;
}

.u-toast {
    display: none;   
    background-color: var(--header-background-color);
    padding: calc( var(--padding-vertical) / 2 ) calc( var(--padding-horizontal) / 2 );
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: 0.85rem;
}
.u-toast.visible {
    display: block;
}

/* Media queries */

@media (min-width: 1921px) and (max-width: 2560px) {
    .landing__dexter {
        background-image: url('images/hercules2560x1440.webp');
    }
}

@media (min-width: 1921px) and (max-width: 2560px) and ((min-resolution: 192dpi) or (min-resolution: 2dppx)) {
    .landing__dexter {
        background-image: url('images/hercules5120x2880.webp');
    }
       }

@media (max-width: 1920px) and ((min-resolution: 192dpi) or (min-resolution: 2dppx)) {
    .landing__dexter {
        background-image: url('images/hercules3840x2160.webp');
    }
}

@media (max-width: 1439px) {
    h1 { font-size: 2.5rem; line-height: 3rem;} 
    h2 { font-size: 2rem; } 
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.25rem; } 
    h5 { font-size: 1rem; } 
    h6 { font-size: 1rem; }
}

@media (max-width: 1023px) {
    h1 { font-size: 1.8rem; line-height: 3rem; }

    .header {
        padding: calc( var(--padding-vertical) * 1.2 ) 0;
    }

    .header__nav {
        padding: 0 calc( var(--padding-horizontal) * 2 );
    }

    .main-content {
        padding: 0 calc( var(--padding-horizontal) * 2)
    }

    .landing {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 60vh;
        margin-top: 4rem;
        padding-bottom: 6rem;
        padding-top: 2rem;
        background-color: var(--background-color-II);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    .landing__sinister {
        width: 50%;
        justify-content: center;
    }

    .landing__header, .landing__text {
        margin: calc( var(--margin-vertical) / 2 ) var(--margin-horizontal);
        padding: calc( var(--padding-vertical) / 2 ) calc( var(--padding-horizontal) * 2 );
    }

    .landing__dexter {
        width: 50%; height: 70%;
        clip-path: none; 
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .about-me {
        padding: calc( var(--padding-vertical) * 1.5 ) var(--padding-horizontal);
    }  

    .projects {
        padding: 0 var(--padding-horizontal);
    }

    .projects__preview {
        align-items: flex-start;
    }

    .projects__preview-text {
        overflow: hidden;
        font-size: 1rem;
    }

    .projects__preview-text.expanded {
        max-height: none;
    }

    .projects__picture {
        margin: calc( var(--margin-vertical) * 2 ) 0;
    }

    .contact__text, .contact__ul {
        padding: calc( var(--padding-vertical) * 2 ) 0;
    }

}

@media (max-width: 767px) {

    body {
        overflow-x: hidden;
    }

    :root {
        --line-height: 2rem;
        --background-image: url("images/marcus1280x720.webp");
    }

    .header {
        padding: 0;
    }

    .header__menu-toggle {
        display: block;
        padding: var(--padding-vertical) var(--padding-horizontal);
        margin: 0 0 0 2px;
    }

    .header__nav {
        position: fixed;
        transform: translateX(-10rem);
        transition: transform 0.3s ease ;
        height: 100vh; width: 10rem;
    }
    
    .header.u-mobile-nav-open .header__nav {
        transform: translateX(0);
    }

    .header__ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__list {
        margin: var(--margin-vertical) 0;
    }

    .header__list .u-a {
        padding: var(--padding-vertical) 0;
    }

    .landing {
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        margin-top: 0;
    }

    .landing__sinister, .landing__dexter {
        width: 100%;  height: 50%;

    }
    .landing__sinister {
        order: 2;
    }
    .landing__dexter {
        order: 1;
       
    }
   
    .about-me__list, .contact__list {
        margin: var(--margin-vertical) var(--margin-horizontal) var(--margin-vertical) 0;
    }

    section {
        scroll-margin: calc( var(--margin-vertical) * 5 ) 0 0 calc( var(--margin-vertical) * 10 );
    }
    
    section, footer {
        transition: transform 0.3s;
    }

    section.u-mobile-nav-open, footer.u-mobile-nav-open {
       transform: translateX(8rem);
    }
}



