:root {
    --font-size: 16px;
    --max-width: 60rem;
    --margin-vertical: 1rem;
    --margin-horizontal: 1rem;
    --padding-horizontal: 1rem;
    --padding-vertical: 1rem;
    --border-radius: 4px;
    --line-height: 1.75rem;
    --border: 1px solid  #111;
    --background-color: #2A2A2A;
    --background-color-II: #1C1C1C;
    --header-background-color: #1A1A1A;
    --header-color: #C0C0C0;
    --footer-background-color: #1A1A1A;
    --color: #F0F0F0;
    --color-II: #E0E0E0;
    --header-color: #FFFFFF;
    --button-bg: #1565C0;
    --button-color: #FFFFFF;
    --button-hover-bg: #1976D2;
    --button-hover-color: #FFFFFF;
    --button-focus-bg: #1976D2;
    --button-focus-color: #FFFFFF;
    --button-focus-outline: 2px solid #FFFFFF;
    --button-disabled-bg: #757575;
    --button-disabled-color: #B0BEC5;
    --link: #1E88E5;
    --link-hover: #1565C0;
    --link-visited: #1565C0;
    --link-focus-color: #1565C0;
    --link-focus-outline: 2px solid #FFFFFF;
    --link-focus-background: none;
    --input-bg: #1C1C1C;
    --input-color: #E0E0E0;
    --input-focus-bg: #333333;
    --input-focus-color: #FFFFFF;
    --input-focus-outline: 2px solid transparent;
    --invalid-bg-color: #333333;
    --invalid-color: #ff9999;
    --invalid-outline: 2px solid #ff6666; 
    --error-message-color: transparent;
    --error-message-color-focus: #ff9999;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.light-mode {
    --border: none;
    --background-color: #ffffff;
    --background-color-II: #EEEEEE;
    --header-background-color: #e0e7ff;
    --header-color: #000000;
    --footer-background-color: #e0e7ff;
    --projects-border: 1px solid #e0e0e0;
    --color: #333333;
    --color-II: #333333;
    --button-bg: #1976D2;
    --button-color: #FFFFFF;
    --button-hover-bg: #1565C0;
    --button-hover-color: #FFFFFF;
    --button-focus-bg: #1565C0;
    --button-focus-color: #FFFFFF;
    --button-focus-outline: 2px solid #000;
    --button-disabled-bg: #90A4AE;
    --button-disabled-color: #6B7B8A;
    --link: #1a73e8;
    --link-hover: #0c47a1;
    --link-visited: #012180;
    --link-focus-color: #0c47a1;
    --link-focus-outline: 2px solid #1565C0;
    --link-focus-background: #FFFFFF;
    --input-bg: #E0E0E0;
    --input-color: #111111;
    --input-focus-bg: #FFFFFF;
    --input-focus-color: #000000;
    --input-focus-outline: 1px solid none;
    --invalid-bg-color: #FFE6E6; 
    --invalid-color: #D32F2F; 
    --invalid-outline: 2px solid #D32F2F; 
    --error-message-color: transparent; 
    --error-message-color-focus: #C62828; 
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: var(--font-size);
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: var(--font-size);
    background-color: var(--background-color);
    color: var(--color);
    line-height: var(--line-height);
}

section { scroll-margin: calc( var(--margin-vertical) * 6 ) 0 0 0; }

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Montserrat', Helvetica, Arial, sans-serif; 
    color: var(--header-color); 
    text-shadow: 1px 1px 2px var(--header-text-shadow);
}

h1, h2, h3, h4, h5, h6, p { margin: calc( var(--margin-vertical) * 2 ) 0; }

h1 { font-size: 3rem; line-height: 3.9rem;} h2 { font-size: 2.50rem; } h3 { font-size: 1.75rem; }

h4 { font-size: 1.3rem; } h5 { font-size: 1.25rem; } h6 { font-size: 1rem; }

ul { list-style: none; } a { text-decoration: none; } 

/* header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--header-background-color);
    box-shadow: var(--box-shadow);
    font-size: 1.125rem;
    z-index: 1000;
    transition: width 0.3s;
    padding: calc( var(--padding-vertical) * 1.5 ) 0; 
    
}

.header__nav {
    margin: 0 auto;
    max-width: var(--max-width);
    background-color: inherit;
}

.header__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    color: var(--header-color);
}

.header__list.language {
    padding: calc( var(--padding-vertical) / 2 ) var(--padding-horizontal);
  }

.header .languages-wrapper {
    position: relative;
}

.header__languages-dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--header-background-color);
    padding: calc( var(--padding-vertical) / 2 ) var(--padding-horizontal);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.header__languages-dropdown.expanded {
    display: flex;
}

.header button {
    border: none;
    background-color: inherit;
}
.header__menu-toggle {
    display: none;
    font-size: 1.5rem;
}
.header__mode-toggle { 
    font-size: 1.5rem;
}
.header__language-toggle { 
    font-size: 1.25rem; 
}
.header__language-toggle span, 
.header__language-toggle 
.fa-caret-down, .header__language-toggle 
.fa-caret-up  {
    font-size: 0.7rem;
}

.header__ul .u-a {
    padding: var(--padding-vertical) var(--padding-horizontal);
}
.header__ul .u-a.language {
    font-size: 0.8rem;
    padding: calc( var(--padding-vertical) / 4 ) var(--padding-horizontal);
}

/* landing */

.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; width: 100%;
}

.landing__sinister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; height: 100%;
}


.landing .u-button {
    padding: var(--padding-vertical) var(--padding-horizontal);
}
.landing__cta {
    height: 100%;
    margin: calc( var(--margin-vertical) * 1.2 ) 0 calc( var(--margin-vertical) * 1.2 ) 8%; 
    font-size: 1.2rem;
}
.landing__share-button {
    height: 100%; width: 4rem;
    margin: 0 var(--margin-horizontal);
    font-size: 1.5rem;
}
.landing__cta i {
    margin-left: calc( var(--margin-horizontal) / 3 );
}

.landing__dexter {
    width: 60%;
    height: 100%;
    background-image: url('images/hercules1920x1080.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-attachment: scroll; 
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%); 
}

.landing__header {
    text-align: center;
    width: 100%;
    margin: calc( var(--margin-vertical) * 1.2 ) 0 calc( var(--margin-vertical) * 1.2 ) 8%;
}

.landing__text {
    margin: calc( var(--margin-vertical) * 1.2 ) 0 calc( var(--margin-vertical) * 1.2 ) 8%; 
    text-align: center;
}

.landing__button-wrapper {
    margin: var(--margin-vertical) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 3.8rem;
}

/* main content */

.main-content {
    margin: 0 auto;
    padding: var(--padding-vertical) var(--padding-horizontal);
    text-align: left;
    max-width: var(--max-width);
}

/* about-me */

.about-me {
    padding: calc( var(--padding-vertical) * 4 ) 0 var(--padding-vertical) 0;
    scroll-margin: calc( var(--margin-vertical) * 2 );
}

.about-me__ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.about-me__list { 
    border-radius: var(--border-radius); 
    margin: var(--margin-vertical) var(--margin-horizontal) var(--margin-vertical) 0;
}

/* projects */

.projects {
    padding: var(--padding-vertical) 0;
}

.projects__card {
    width: 100%; 
    margin: calc( var(--margin-vertical) * 2 ) 0 var(--margin-vertical) 0;
    padding: var(--padding-vertical) calc( var(--padding-horizontal) * 2 );
    border-radius: var(--border-radius);
    background-color: var(--background-color-II);
    border: var(--border);
}

.projects__preview {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.projects__button-wrapper {
    padding: calc( var(--padding-vertical) * 2 ) 0;
}

.projects__header {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
}

.projects__header.stack {
    margin: var(--margin-vertical) 0;
}

.projects__card-title {
    margin: var(--margin-vertical) 0 0 0;
}

.projects__card-header {
    margin: calc( var(--margin-vertical) * 2 ) 0;
}

.projects__picture {
    width: 300px;
    height: 112px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: block;
}

.projects__preview-text {
    color: var(--color-II);
    padding: 0 calc( var(--padding-horizontal) * 2 );
    font-size: 1.15rem;
    max-height: 112px;
}

.projects__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: calc( var(--margin-vertical) * 1.5 ) calc( var(--margin-horizontal) * 2) ;
    margin: calc( var(--margin-vertical) * 2 ) 0 calc( var(--margin-vertical) * 4 ) 0;
}

.projects__list {
  display: flex;
  align-items: center;
  gap: 0 calc( var(--margin-horizontal) / 2 );
}

.projects__text.wrapper{
    display: none;
}

.projects__text.wrapper.expanded {
  display: block;
}

.projects__button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.projects__expand-toggle {
    width: 3rem;
    padding: calc( var(--padding-vertical) / 4 ) var(--padding-horizontal);
    font-size: 1.2rem;
    margin: 0 0 0 var(--margin-horizontal);
}

.projects__share-button {
    padding: calc( var(--padding-vertical) / 4 ) var(--padding-horizontal);
    font-size: 1rem;
}

/* contact */ 

.contact {
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.contact__figcaption {
    margin: var(--margin-vertical) 0;
    font-size: 0.8rem;
}

.contact__ul { 
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: calc( var(--margin-vertical) * 2 )  0;
}

.contact__list {
    margin-right: calc( var(--margin-horizontal) * 1.5 ) ;
}

.contact__link.everaart {
    color: var(--link);
}

.contact__form {
    max-width: var(--max-width);
}

.contact__form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0 1.25rem;
}

.full-width {
    grid-column: span 2; 
  }

.contact__label, .contact__input, .error {
    width: 100%;   
    border-radius: var(--border-radius);
    border: none;
}

.contact__label {
    margin: 0 0 var(--margin-vertical) 0;
    display: block;
}

.contact__input {
    background-color: var(--input-bg);
    color: var(--input-color);
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.contact__input:focus {
    background-color: var(--input-focus-bg);
    color: var(--input-focus-color);
    box-shadow: var(--box-shadow);
}

.contact__input:not(.invalid):focus {
    outline: var(--input-focus-outline);
}

.contact__input.invalid:focus {
    outline: var(--invalid-outline);
    box-shadow: none;
}

.invalid:focus::placeholder {
    color: var(--invalid-color);
}

.invalid:focus {
    color: var(--invalid-color);
}

.error {
    font-size: 0.75rem;
    color: var(--error-message-color);
    margin: 5px 0 0 0;
}

.contact__input:focus.invalid + .error {
    color: var(--error-message-color-focus);
}

.contact-form__required { 
    color: red;
}

.contact__form-button {
    width: 100%;
    padding: calc( var(--padding-vertical) / 10 * 6 ) var(--padding-horizontal);
    margin: calc( var(--margin-vertical) / 4 ) 0;
}

/* footer */

.footer { 
    background-color: var(--footer-background-color);
    margin: calc( var(--margin-vertical) * 1.5 ) 0 0 0;
    padding: var(--padding-vertical) 0;
    color: inherit;
}

.footer__ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: var(--padding-vertical) var(--padding-horizontal);
    max-width: var(--max-width);
    margin: 0 auto;
}

.footer__list { 
   margin: var(--margin-vertical) var(--margin-horizontal);
}

.footer__ul .u-a {
    padding: var(--padding-vertical) 0;
}

/* buttons */ 

.u-button {
    background-color: var(--button-bg);
    color: var(--button-color);
    border-radius: var(--border-radius);
    border: none;
}
.u-button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
    box-shadow: var(--box-shadow);
}
.u-button:focus-visible {
    background-color: var(--button-focus-bg);
    color: var(--button-focus-color);
    
}
.u-button:disabled {
    background-color: var(--button-disabled-bg);
    color: var(--button-disabled-color);
    cursor: not-allowed;
}

.u-button.II {
    color: var(--color);
}
.u-button.II:hover {
    background-color: inherit;
    box-shadow: none;
    color: var(--link-hover);
}

button, a { -webkit-tap-highlight-color: transparent; cursor: pointer; white-space: nowrap; } 

.u-toast {
    display: none;   
    background-color: var(--header-background-color);
    padding: calc( var(--padding-vertical) / 2 ) calc( var(--padding-horizontal) / 2 );
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: 0.85rem;
}
.u-toast.visible {
    display: block;
}

/* Links */

.u-a {
    color: inherit;
    border-radius: var(--border-radius);
}
.u-a.II {
    color: var(--link);
}
.u-a i {
    color: var(--link);
}
.u-a:hover, .u-a:hover i, .u-a.II:hover {
    color: var(--link-hover);
}
.u-a:focus-visible, .u-a.II:focus-visible {
    color: var(--link-focus-color);
    background-color: var(--link-focus-background);
    outline: var(--link-focus-outline);
}

/* Media queries */

@media (min-width: 1921px) and (max-width: 2560px) {
    .landing__dexter {
        background-image: url('images/hercules2560x1440.webp');
    }
}

@media (min-width: 1921px) and (max-width: 2560px) and ((min-resolution: 192dpi) or (min-resolution: 2dppx)) {
    .landing__dexter {
        background-image: url('images/hercules5120x2880.webp');
    }
       }

@media (max-width: 1920px) and ((min-resolution: 192dpi) or (min-resolution: 2dppx)) {
    .landing__dexter {
        background-image: url('images/hercules3840x2160.webp');
    }
}

@media (max-width: 1439px) {
    h1 { font-size: 2.5rem; line-height: 3rem;} 
    h2 { font-size: 2rem; } 
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.25rem; } 
    h5 { font-size: 1rem; } 
    h6 { font-size: 1rem; }
}

@media (max-width: 1023px) {
    h1 { font-size: 1.8rem; line-height: 3rem; }

    .header {
        padding: calc( var(--padding-vertical) * 1.2 ) 0;
    }

    .header__nav {
        padding: 0 calc( var(--padding-horizontal) * 2 );
    }

    .main-content {
        padding: 0 calc( var(--padding-horizontal) * 2)
    }

    .landing {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 60vh;
        margin-top: 4rem;
        padding-bottom: 6rem;
        padding-top: 2rem;
        background-color: var(--background-color-II);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    .landing__sinister {
        width: 50%;
        justify-content: center;
    }

    .landing__header, .landing__text {
        margin: calc( var(--margin-vertical) / 2 ) var(--margin-horizontal);
        padding: calc( var(--padding-vertical) / 2 ) calc( var(--padding-horizontal) * 2 );
    }

    .landing__dexter {
        width: 50%; height: 70%;
        clip-path: none; 
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .about-me {
        padding: calc( var(--padding-vertical) * 1.5 ) var(--padding-horizontal);
    }  

    .projects {
        padding: 0 var(--padding-horizontal);
    }

    .projects__preview {
        align-items: flex-start;
    }

    .projects__preview-text {
        overflow: hidden;
        font-size: 1rem;
    }

    .projects__preview-text.expanded {
        max-height: none;
    }

    .projects__picture {
        margin: calc( var(--margin-vertical) * 2 ) 0;
    }

    .contact__text, .contact__ul {
        padding: calc( var(--padding-vertical) * 2 ) 0;
    }

}

@media (max-width: 767px) {

    body {
        overflow-x: hidden;
    }

    :root {
        --line-height: 2rem;
        --background-image: url("images/marcus1280x720.webp");
    }

    .header {
        padding: 0;
    }

    .header__menu-toggle {
        display: block;
        padding: var(--padding-vertical) var(--padding-horizontal);
        margin: 0 0 0 2px;
    }

    .header__nav {
        position: fixed;
        transform: translateX(-10rem);
        transition: transform 0.3s ease ;
        height: 100vh; width: 10rem;
    }
    
    .header.u-mobile-nav-open .header__nav {
        transform: translateX(0);
    }

    .header__ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__list {
        margin: var(--margin-vertical) 0;
    }

    .header__list .u-a {
        padding: var(--padding-vertical) 0;
    }

    .landing {
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        margin-top: 0;
    }

    .landing__sinister, .landing__dexter {
        width: 100%;  height: 50%;

    }
    .landing__sinister {
        order: 2;
    }
    .landing__dexter {
        order: 1;
       
    }
   
    .about-me__list, .contact__list {
        margin: var(--margin-vertical) var(--margin-horizontal) var(--margin-vertical) 0;
    }

    section {
        scroll-margin: calc( var(--margin-vertical) * 5 ) 0 0 calc( var(--margin-vertical) * 10 );
    }
    
    section, footer {
        transition: transform 0.3s;
    }

    section.u-mobile-nav-open, footer.u-mobile-nav-open {
       transform: translateX(8rem);
    }
}



